@model IARehabilitation.web.Data.Entities.MedicalHistory

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MedicalHistory</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_Sportsman" class="control-label"></label>
                <input asp-for="Id_Sportsman" class="form-control" />
                <span asp-validation-for="Id_Sportsman" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Professional" class="control-label"></label>
                <input asp-for="Id_Professional" class="form-control" />
                <span asp-validation-for="Id_Professional" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Id_Consulte" class="control-label"></label>
                <select asp-for="Id_Consulte" class ="form-control" asp-items="ViewBag.Id_Consulte"></select>
            </div>
            <div class="form-group">
                <label asp-for="Id_InjuriesDictionary" class="control-label"></label>
                <select asp-for="Id_InjuriesDictionary" class ="form-control" asp-items="ViewBag.Id_InjuriesDictionary"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
