@model IARehabilitation.web.Data.Entities.TreatmentDictionary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TreatmentDictionary</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Treatment_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Treatment_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Treatment_length)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Treatment_length)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_TreatmentDictionary">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
